@font-face {
  font-family: 'Kanit';
  src: url('fonts/Kanit-Light.woff2') format('woff2'),
    url('fonts/Kanit-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kanit';
  src: url('fonts/Kanit-Regular.woff2') format('woff2'),
    url('fonts/Kanit-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kanit';
  src: url('fonts/Kanit-Medium.woff2') format('woff2'),
    url('fonts/Kanit-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kanit';
  src: url('fonts/Kanit-SemiBold.woff2') format('woff2'),
    url('fonts/Kanit-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kanit';
  src: url('fonts/Kanit-Bold.woff2') format('woff2'),
    url('fonts/Kanit-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@media (max-width: 768px) {
  .swiper-slide img {
    max-width: 100%;
    height: auto;
  }
}

@keyframes fire {

  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }

  25% {
    transform: scale(1.2);
    opacity: 0.8;
  }

  50% {
    transform: scale(0.9);
    opacity: 1;
  }

  75% {
    transform: scale(1.1);
    opacity: 0.9;
  }
}

body {
  font-family: 'Kanit', sans-serif;
  background-color: #f8fafc;
}

.gradient-text {
  background: linear-gradient(90deg, #6366f1, #8b5cf6, #d946ef);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.glass-effect {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.hover-scale {
  transition: transform 0.3s ease;
}

.hover-scale:hover {
  transform: translateY(-5px);
}

#mobileMenu {
  max-height: 0;
  overflow: hidden;
}

#mobileMenu.open {
  max-height: 500px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.swiper-pagination-bullet {
  background: #a78bfa;
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  background: #7c3aed;
  opacity: 1;
}

.swiper {
  width: 100%;
  max-width: 100%;
}

.swiper-slide img {
  max-width: 100%;
  /* จำกัดขนาดภาพไม่ให้เกินขนาดหน้าจอ */
  height: auto;
}

.animate-fire {
  animation: fire 1.5s infinite;
  display: inline-block;
}

.typed-cursor {
  margin-left: 2px;
  /* เพิ่มระยะห่างจากข้อความ */
  opacity: 0.7;
  /* ทำให้เคอร์เซอร์จางเล็กน้อย */
  /* animation: none !important; */
}